<% content_for :page_header do %>
  <%= link_to graduating_classes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_graduating_class_path(@graduating_class), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>

<dl class="dl-horizontal text-left">
  <dt>Year:</dt>
  <dd><%= @graduating_class.year %></dd>

</dl>
