<section data-ng-controller="ParticipationsController" data-ng-init="newParticipation()">
    <div class="page-header">
        <h1 data-ng-bind="networkEvent.name"></h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate autocomplete="off">
            <fieldset>
            	 <alert data-ng-show="success" data-ng-bind="success" type="success"></alert>
                <div class="form-group">
                    <label class="control-label" for="name">Find participant</label>
                    <div class="controls">
                        <input type="text" ng-model="selected" ng-change="onSelectedChange()" typeahead-editable="false" typeahead-on-select="attendee = $item" typeahead="participant.listName() for participant in findParticipants($viewValue)" class="form-control" placeholder="Find participant">
                    </div>
                </div>
            </fieldset>
			<div data-ng-show="showSelectedAttributes(selected, isSelectionEditable)">
				<h1>
					<span data-ng-bind="attendee.displayName"></span>
					<a class="btn btn-lg" data-ng-click="clearSelection()">
						<i class="glyphicon glyphicon-remove"></i>
					</a>
				</h1>
				<div class="clearfix">
					<dl class="dl-horizontal">
					  <dt>Phone</dt>
					  <dd data-ng-bind="attendee.phone"></dd>
					  <dt>Email</dt>
					  <dd data-ng-bind="attendee.email"></dd>
					  <dt>Identity</dt>
					  <dd data-ng-bind="attendee.identity"></dd>
					  <dt>Affiliation</dt>
					  <dd data-ng-bind="attendee.affiliation"></dd>
					</dl>
				</div>
				<div class="clearfix">
					<h3>
						Is this information correct for <span data-ng-bind="attendee.firstName"></span>?
	                    <button type="submit" class="btn btn-default">Yes, submit.</button>
	                    <small>
	                    	or
							<a data-ng-click="editSelection()">
								No, edit.
							</a>
	                    </small>
					</h3>
				</div>
			</div>
            <fieldset data-ng-show="showForm(selected, isSelectionEditable)">
				<alert data-ng-show="error" data-ng-bind="error" type="error"></alert>
				<div class="form-group">
					<label class="control-label" for="firstName">First Name</label>
                    <div class="controls">
    					<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="attendee.firstName" placeholder="First Name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="lastName">Last Name</label>
                    <div class="controls">
    					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="attendee.lastName" placeholder="Last Name">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="phone">Phone</label>
                    <div class="controls">
    					<input type="phone" id="phone" name="phone" class="form-control" data-ng-model="attendee.phone" placeholder="Phone">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="email">Email</label>
                    <div class="controls">
    					<input type="email" id="email" name="email" class="form-control" data-ng-model="attendee.email" placeholder="Email">
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="identity">Who are you?</label>
					<span id="identityHelpBlock" class="help-block">Ask: Student/Parent/Educator/Resident/Community Partner (choose one)</span>
                    <div class="controls">
    					<select id="identity" name="identity" class="form-control" data-ng-model="attendee.identity" placeholder="Who are you?">
    						<option>Student</option>
    						<option>Parent</option>
    						<option>Educator</option>
    						<option>Resident</option>
    						<option>Community Partner</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label" for="affiliation">Affiliation?</label>
					<span id="identityHelpBlock" class="help-block">Where are you coming from? (Specific school, neighborhood, organization/group)</span>
                    <div class="controls">
    					<input type="text" id="affiliation" name="affiliation" class="form-control" data-ng-model="attendee.affiliation" placeholder="Affiliation?">
					</div>
				</div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>