<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="lead">
				<a data-flickr-embed="true" data-footer="true"  href="https://www.flickr.com/photos/acnatta/264575595/in/photolist-po27c-5asUvW-pscZ6D-7frdy-7frdw-6vMJtt-7fqMb-ozDe9T-bAm3S6-5mJFDi-aLgf7e-ncRYG4-nyKN4G-bBKsvX-iEJGz-doHBMe-b7nvBx-ps9Uux-cXpfXb-86TvY4-aDwLVv-bJPo4v-ogX1PT-7frdv-7fqMc-byCnz-ncS2dX-jqJbAk-8JBe17-a2uZ5Y-aU23vt-mGV8GT-aU22mx-6dMvhg-6JcZDd-qvZqpA-Bx8JG-3nhjm1-aKqaR-bDDqkE-68K7x7-8RShA9-p3f7Cv-72n8HD-7fqMf-b7nx4F-b7nxMZ-ohaz8f-7fqMd-ozDcEa" title="Birmingham&#x27;s skyline from it&#x27;s highest point"><img src="https://farm1.staticflickr.com/81/264575595_ba66dac251_z.jpg" width="640" height="426" alt="Birmingham&#x27;s skyline from it&#x27;s highest point"></a><script async src="//embedr.flickr.com/assets/client-code.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="row">
			<p class="lead">
				Demand excellence for our kids because they deserve it.
			</p>
		</div>
		<br>
	</div>
</section>