<section data-ng-controller="HomeController">
		<div class="row">
			<div class="lead">
				<img src="http://media.al.com/birmingham-news-commentary/photo/9491005-small.jpg" alt="Birmingham Education Foundation logo">
			</div>
		</div>
		<div class="row">
			<p class="lead">
				Demand excellence for our kids because they deserve it.
			</p>
		</div>
		<br>
	</div>
	<body data-ng-show="showConnectorHome">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<h4 class="text-center">Network Members Registered</h4>
				</div>
				<div class="col-md-6">
					<h4 class="text-center">One to One Reflections</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center">Actions Status</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center">Attendance Percentage</h4>
				</div>
			</div>
		</div>
	</body>
</section>
