<% content_for :page_header do %>
  <%= link_to talents_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_talent_path(@talent), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @talent.name %></dd>

</dl>
