<section data-ng-controller="NetworkEventsController" data-ng-init="initNew()">
    <div class="page-header">
        	<ol class="breadcrumb">
  			<li><a href="/#!/network-events">Events</a></li>
  			<li class="active">Create</li>
		</ol>
        <h1>New Network event</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate autocomplete="off">
            <fieldset>
				<ng-include src="'/modules/network-events/views/network-event-form.client.view.html'"></ng-include>
                <div class="form-group">
                    <input type="submit" ng-click="create()" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>