<section data-ng-controller="NetworkEventsController" data-ng-init="initEdit()">
    <div class="page-header">
        <ol class="breadcrumb">
  			<li><a href="/#!/network-events">Events</a></li>
 			<li><a href="/#!/network-events/{{networkEvent._id}}">{{networkEvent.name}}</a></li>
  			<li class="active">Edit</li>
		</ol>
        <h1>Edit Network event</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate autocomplete="off">
            <fieldset>
				<ng-include src="'/modules/network-events/views/network-event-form.client.view.html'"></ng-include>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>