<% content_for :page_header do %>
  <%= link_to extracurricular_activities_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_extracurricular_activity_path(@extracurricular_activity), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @extracurricular_activity.name %></dd>

  <dt>Creator:</dt>
  <dd><%= @extracurricular_activity.user.try(:email) %></dd>

</dl>
