  <div class='form-group'>
    <%= f.label :graduating_class_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.collection_select :graduating_class_id,
            GraduatingClass.order(:year).all,
            :id,
            :year,
            {include_blank: 'None'},
            {class: 'select2 form-control'} %>
    </div>
  </div>
