<section data-ng-controller="ActionsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Actions</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="action in actions" class="list-group-item">
			<small class="list-group-item-text">
				Type: 
				<span data-ng-bind="action.type"></span>
				| Made:
				<span data-ng-bind="action.created | date:'medium'"></span>
				| By:
				<span data-ng-bind="action.actor.displayName"></span>
				| At:
				<span ng-if="action.networkEvent">
					<span data-ng-bind="action.networkEvent.name"></span>
				</span>
				| With:
				<span data-ng-bind="action.matches.length"></span>
				match(es).
			</small>
			<a  class="list-group-item-text"  data-ng-href="#!/actions/{{action._id}}">
				<h4 class="list-group-item-heading" data-ng-bind="action.description" ></h4>
			</a>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!actions.$resolved || actions.length">
    	No Actions yet, why don't you <a href="/#!/actions/create">create one</a>?
    </div>
</section>