<section data-ng-controller="ActionsController" data-ng-init="findOne()">
	<div class="page-header">
			<ol class="breadcrumb">
  			<li><a href="/#!/actions">Actions</a></li>
  			<li class="active">{{action.type}} by {{action.actor.displayName}}</li>
		</ol>
		<h1 data-ng-bind="action.description"></h1>
	</div>
	<div class="clearfix">
		<dl class="dl-horizontal">
			<dt ng-if="action.networkEvent">Event</dt>
			<dd ng-if="action.networkEvent"><span data-ng-bind="action.networkEvent.name"></span> (<span data-ng-bind="action.networkEvent.scheduled | date"></span>)</dd>
			<dt>Actor</dt>
			<dd data-ng-bind="action.actor.displayName"></dd>
			<dt>Type</dt>
			<dd data-ng-bind="action.type"></dd>
			<dt>Matches</dt>
			<dd>
				<span data-ng-repeat="match in action.matches">
					<a data-ng-bind="match.displayName" data-ng-href="#!/participants/{{match._id}}"></a><span ng-if="!$last">, </span>
				</span>
			</dd>
			<dt ng-if="action.connector">Connector</dt>
			<dd ng-if="action.connector" data-ng-bind="action.connector.displayName"></dd>
			<dt>Status</dt>
			<dd data-ng-bind="action.status"></dd>
		</dl>
	</div>
	<div class="pull-right" data-ng-show="authentication.user">
		<a class="btn btn-primary" href="/#!/actions/{{action._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Entered on
			<span data-ng-bind="action.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="action.user.displayName"></span>
		</em>
	</small>
</section>
