<% content_for :page_header do %>
  <%= link_to schools_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
<% end %>

<%= render 'form' %>
