<% content_for :page_header do %>
  <%= link_to schools_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_school_path(@school), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>

<dl class="dl-horizontal text-left">
  <dt>Name:</dt>
  <dd><%= @school.name %></dd>

  <dt>Creator:</dt>
  <dd><%= @school.user.try(:email) %></dd>

</dl>
