<% content_for :page_header do %>
  <%= link_to member_path(@member), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= content_for :title, t(".title", name: @member.name) %>
<% end %>

<%= render 'form' %>
