<section data-ng-controller="MembersController" data-ng-init="newMember()">
    <div class="page-header">
    	<ol class="breadcrumb">
  			<li><a href="/#!/members">Members</a></li>
  			<li class="active">Create</li>
		</ol>
        <h1>New Member</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate autocomplete="off">
            <fieldset>
                 <div class="form-group">
                    <label class="control-label" for="name">Find participant</label>
                    <div class="controls">
                        <input id="participant" type="text" ng-model="selected" ng-change="member = null" typeahead-editable="false" typeahead-on-select="selectMember($item)" typeahead="participant.displayName for participant in findParticipants($viewValue)" class="form-control" placeholder="Find participant">
                    </div>
                </div>
				<ng-include src="'/modules/members/views/member-form.client.view.html'"></ng-include>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>