<section data-ng-controller="MembersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Member</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
				<ng-include src="'/modules/members/views/member-form.client.view.html'"></ng-include>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>