<section data-ng-controller="MembersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Members</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="member in members" data-ng-href="#!/members/{{member._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="member.created | date:'medium'"></span>
				by
				<span data-ng-bind="member.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="member.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!members.$resolved || members.length">
    	No Members yet, why don't you <a href="/#!/members/create">create one</a>?
    </div>
</section>