<section data-ng-controller="MembersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Members</h1>
    </div>
    <div class="filter-checkboxes">
  		<label><input type="checkbox" value="false" data-ng-model="showOnlyShirtlessMembers">Members Yet to Receive T-Shirt</label>
	</div>
    <div class="list-group">
        <div data-ng-repeat="member in members | filter:shirtFilter" class="list-group-item">
			<a data-ng-href="#!/members/{{member._id}}" class="list-group-item-text">
				<h4 class="list-group-item-heading" data-ng-bind="member.displayName"></h4>
			</a>
			<small class="list-group-item-text">
			    Phone:
			    <span data-ng-bind="member.phone"></span>
			    | Email:
				<a ng-href="mailto:{{member.email}}"><span data-ng-bind="member.email"></span></a>
				| Member is a: 
				<span data-ng-bind="member.identity"></span>
				| Member since: 
				<span data-ng-bind="member.created | date:'medium'"></span>
				| Received Shirt:
				<span data-ng-bind="member.shirtReceived" data-ng-click="giveShirt(member)"></span>
			</small>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!members.$resolved || members.length">
    	No Members yet, why don't you <a href="/#!/members/create">create one</a>?
    </div>
</section>