<section data-ng-controller="UsersController">
    <div class="page-header">
    		<ol class="breadcrumb">
  			<li><a href="/#!/users">Users</a></li>
  			<li class="active">Create</li>
		</ol>
        <h1>New User</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate autocomplete="off">
			<!-- dummy fields to prevent browser from auto-filling the username/password on this form -->
			<input type="text" style="display: none" id="fakeUsername" name="fakeUsername" value="" />
			<input type="password" style="display: none" id="fakePassword" name="fakePassword" value="" />
        	
            <fieldset>
				<alert data-ng-show="error" data-ng-bind="error" type="danger"></alert>
				<ng-include src="'/modules/users/views/form-user.client.view.html'"></ng-include>
				<div class="form-group">
					<label class="control-label" for="password">Password</label>
                    <div class="controls">
						<input type="password" id="password" name="password" class="form-control" data-ng-model="user.password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
                    <label class="control-label" for="match">Add Role</label>
                   <div class="btn-group" role="group" aria-label="...">
					  <button type="button" class="btn btn-default" data-ng-click="addRole(roles, 'connector');">
					  	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Connector
					  </button>
					</div>
                </div>
				<div class="list-group">
                    <span data-ng-repeat="role in roles" class="list-group-item">
                    	<span>
                			<span data-ng-bind="user.roles"></span>
                    		<a class="btn" data-ng-click="removeRole(roles, $index);">
                    			<i class="glyphicon glyphicon-remove"></i>
                    		</a>
                    	</span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>