<section data-ng-controller="UsersController">
    <div class="page-header">
    		<ol class="breadcrumb">
  			<li><a href="/#!/users">Users</a></li>
  			<li class="active">Create</li>
		</ol>
        <h1>New User</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate autocomplete="off">
			<!-- dummy fields to prevent browser from auto-filling the username/password on this form -->
			<input type="text" style="display: none" id="fakeUsername" name="fakeUsername" value="" />
			<input type="password" style="display: none" id="fakePassword" name="fakePassword" value="" />
        	
            <fieldset>
				<alert data-ng-show="error" data-ng-bind="error" type="danger"></alert>
				<ng-include src="'/modules/users/views/form-user.client.view.html'"></ng-include>
				<div class="form-group">
					<label class="control-label" for="password">Password</label>
                    <div class="controls">
						<input type="password" id="password" name="password" class="form-control" data-ng-model="user.password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
                    <label class="control-label" for="role">Add Role</label>
                    <div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="addRole" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					    Add Role
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a data-ng-click="addRole(user.roles, 'connector');">Connector</a></li>
					    <li><a data-ng-click="addRole(user.roles, 'admin');" >Admin</a></li>
					  </ul>
					</div>
                </div>
                <h5>Current Roles</h5>
				<div class="list-group">
                    <span data-ng-repeat="role in user.roles | filter: '!user'" class="list-group-item">
                    	<span>
                			<span data-ng-bind="role"></span>
                    		<a class="btn" data-ng-click="removeRole(user.roles, $index + 1);">
                    			<i class="glyphicon glyphicon-remove"></i>
                    		</a>
                    	</span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>