<section data-ng-controller="UsersController" data-ng-init="findOne()">
    <div class="page-header">
        <ol class="breadcrumb">
  			<li><a href="/#!/users">Users</a></li>
 			<li><a href="/#!/users/{{user._id}}">{{user.displayName}}</a></li>
  			<li class="active">Edit</li>
		</ol>
        <h1>Edit User</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate autocomplete="off">
            <fieldset>
				<ng-include src="'/modules/users/views/form-user.client.view.html'"></ng-include>
				<div class="form-group">
                    <label class="control-label" for="role">Add Role</label>
                    <div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="addRole" aria-haspopup="true" aria-expanded="true">
					    Add Role
					    <span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					    <li><a data-ng-click="addRole(user.roles, 'connector');">Connector</a></li>
					    <li><a data-ng-click="addRole(user.roles, 'admin');">Admin</a></li>
					  </ul>
					</div>
                </div>
                <div class="list-group">
                    <span data-ng-repeat="role in user.roles | filter: '!user' " class="list-group-item">
                    	<span>
                			<span data-ng-bind="role"></span>
                    		<a class="btn" data-ng-click="removeRole(user.roles, $index + 1);">
                    			<i class="glyphicon glyphicon-remove"></i>
                    		</a>
                    	</span>
                    </span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<alert data-ng-show="error" data-ng-bind="error" type="danger"></alert>
            </fieldset>
        </form>
    </div>
</section>