<div class="form-group">
	<label class="control-label" for="firstName">First Name</label>
    <div class="controls">
		<input type="text" required id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="lastName">Last Name</label>
    <div class="controls">
		<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="email">Email</label>
    <div class="controls">
		<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
	</div>
</div>
<div class="form-group">
	<label class="control-label" for="username">Username</label>
    <div class="controls">
		<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
	</div>
</div>