<div class="page-header">
  <%= link_to network_events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <% if copy_network_events? %>
    <h1>Copy event(s)</h1>
  <% else %>
    <h1>New event</h1>
  <% end %>
</div>
<% if flash[:alert] %>
  <div class="success alert-success" role="alert">
  <%= alert %>
    </div>
<%end%>

<%= render 'form' %>
