<div class="page-header">
  <%= link_to network_events_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New event</h1>
</div>
<% if flash[:alert] %>
  <div class="success alert-success" role="alert">
  <%= alert %>
    </div>
<%end%>

<%= render 'form' %>
