/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-editable
 */
 

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

body {
  padding-top: 50px;
}

//for member checkin page
#btn_div{
  text-align: right;
  margin-bottom: -15px;
}
.info_div {
  color: #9d9d9d;
  padding: 2px;
}
#select-all{
  margin-left: 3px;
}
thead tr th:first-child,
tbody tr td:first-child {
  width: 8.5em;
}
//end

.network-template {
  padding: 40px 15px;
  text-align: center;
}

