<% content_for :page_header do %>
  <%= link_to organizations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_organization_path(@organization), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
<% end %>

<dl class="dl-horizontal text-left">
  <dt>Name:</dt>
  <dd><%= @organization.name %></dd>

  <dt>Creator:</dt>
  <dd><%= @organization.created_by.try(:email) %></dd>
</dl>
