<section data-ng-controller="ParticipantsController" data-ng-init="findOne()">
    <div class="page-header">
    	<ol class="breadcrumb">
  			<li><a href="/#!/participants">Participants</a></li>
 			<li><a href="/#!/participants/{{participant._id}}">{{participant.displayName}}</a></li>
  			<li class="active">Edit</li>
		</ol>
        <h1>Edit Participant</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
				<ng-include src="'/modules/participants/views/form-participants.client.view.html'"></ng-include>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
            </fieldset>
        </form>
    </div>
</section>