<section data-ng-controller="ParticipantsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Participants</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="participant in participants" data-ng-href="#!/participants/{{participant._id}}" class="list-group-item">
			<small class="list-group-item-text">
				<span data-ng-bind="participant.displayName"></span>
				(created on
				<span data-ng-bind="participant.created | date:'medium'"></span>
				by
				<span data-ng-bind="participant.user.displayName"></span>)
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="participant.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!participants.$resolved || participants.length">
    	No Participants yet, why don't you <a href="/#!/participants/create">create one</a>?
    </div>
</section>