<section data-ng-controller="ParticipantsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Participants</h1>
    </div>
    <div class="list-group">
        <div data-ng-repeat="participant in participants"  class="list-group-item">
			<a  class="list-group-item-text"  data-ng-href="#!/participants/{{participant._id}}">
				<h4 class="list-group-item-heading" data-ng-bind="participant.displayName"></h4>
			</a>
			<small class="list-group-item-text">
			    Phone:
				<span data-ng-bind="participant.phone"></span>
				| Email: 
				<a ng-href="mailto:participant.email"><span data-ng-bind="participant.email"></span></a>
				| Participant is a: 
				<span data-ng-bind="participant.identity"></span>
			</small>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!participants.$resolved || participants.length">
    	No Participants yet, why don't you <a href="/#!/participants/create">create one</a>?
    </div>
</section>